@model List<Studnet.Models.forum>
@{
    ViewBag.Title = "Fora";
}

<h2>@ViewBag.Title</h2>
@{
    if (Session["Rank"].ToString().ToLower().Contains("admin"))
    {
        @Html.ActionLink("Dodaj forum", "AddForum", "Forum");<br />
        @Html.ActionLink("Zarządzaj kategoriami", "ManageCategories", "Forum");
    }
    }
@{ 

    foreach (Studnet.Models.forum forum in Model)
    {
        <h3>@forum.forum_name</h3>
        @Html.ActionLink("Dodaj temat", "AddThread", "Forum", new { forum_id = forum.Id }, null)
        <br /><br />
        foreach (var category in (List<Studnet.Models.forum_topic_category>)ViewBag.Categories)
        {
            List<Studnet.Models.forum_topic> categoryTopics = forum.forum_topic.Where(m => m.forum_topic_category_id == category.Id).ToList();
            if (categoryTopics.Count > 0)
            {
                        <h4><b>@category.forum_topic_category_name</b></h4>

        <table style="border-collapse: separate; border-spacing: 50px 0;">
            <tr>
                <th scope="col">Temat</th>
                <th scope="col">Autor</th>
                <th scope="col">Data utworzenia</th>
                <th scope="col">Ilość odpowiedzi</th>
                <th scope="col">Ostatnia odpowiedź</th>
            </tr>
            @{ foreach (var topic in categoryTopics)
                {
                    <tr>
                        <td style="padding: 10px 0">@Html.ActionLink(topic.forum_topic_title, "SeeThread", "Forum", new { thread_id = topic.Id }, null)</td>
                        <td style="padding: 10px 0">@topic.users.GetFullName()</td>
                        <td style="padding: 10px 0">@topic.forum_topic_date_created.ToString("dd.MM.yyyy")</td>
                        <td style="padding: 10px 0">@topic.forum_topic_reply.Count.ToString()</td>
                        @{ 
                            if (topic.forum_topic_reply.Count == 0)
                            {
                                <td>-</td>
                            }
                            else
                            {
                                <td style="padding: 10px 0">@topic.forum_topic_reply.Last().users.GetFullName(), @topic.forum_topic_reply.Last().forum_topic_reply_date_created.ToString("dd.MM.yyyy")</td>
                            }
                        }
                    </tr>
                            }
             }

                            
        </table>
                                    }
                                }
                            }
                            }
                            
